*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
h1{
    text-align: center;
}
table{
    margin: 2rem 10rem;
    border: 2px solid black;
    padding: 50px;
}
td{
    padding: 1rem;
}
th{
    padding: 1rem;
}
